In [51]:
import pandas as pd
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from dotenv import load_dotenv
import os

load_dotenv()
uri = os.getenv('DATABASE_URL')

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [10]:
db = client["sample_mflix"]

In [13]:
comments = db["comments"]

In [21]:
cm = comments.find_one()

In [38]:
cm

{'_id': ObjectId('5a9427648b0beebeb69579e7'),
 'name': 'Mercedes Tyler',
 'email': 'mercedes_tyler@fakegmail.com',
 'movie_id': ObjectId('573a1390f29313caabcd4323'),
 'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.',
 'date': datetime.datetime(2002, 8, 18, 4, 56, 7)}

In [26]:
pd.DataFrame(cm, index=[0])

,_id,name,email,movie_id,text,date
0,5a9427648b0beebeb69579e7,Mercedes Tyler,mercedes_tyler@fakegmail.com,573a1390f29313caabcd4323,Eius veritatis vero facilis quaerat fuga tempo...,2002-08-18 04:56:07

In [28]:
import pickle
with open("tables.pickle", "rb") as f:
    tables = pickle.load(f)

In [35]:
testp = db.create_collection("testp")

In [44]:
to_add = tables["braidwood"]["median"].to_dict(orient="list")
to_add

{'Metric': ['Median listing price',
  'Median price change - last quarter',
  'Median price change - 1 year',
  'Median price change - 2 years'],
 'House': ['$789,000', '-1.26%', '-2.84%', '13.19%'],
 'Townhouses': ['NA', 'NA', 'NA', 'NA'],
 'Units': ['NA', 'NA', 'NA', 'NA']}

In [47]:
print(f"Inserted document ID: {result.inserted_id}")

Inserted document ID: 67fb4ccca252d597adb1e270

In [46]:
result = testp.insert_one(to_add)